* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* COLORS */
    --black_color: #252525;
    --white_color: #f2f2f2;
    --lightblue_color: #0b7fdf;
    /* FONT SIZES */
    --title_size: 25px;
    --body_size: 16px;
}

body {
    background-color: var(--white_color);
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--black_color);
}

p, h2, i {
    color: var(--black_color);
}

#lightblue {
    color: var(--lightblue_color);
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    background-color: var(--black_color);
    box-shadow: 0 .5px 5px;
}

.header__logo {
    width: 115px;
    cursor: pointer;
}

#header__icon {
    display: none;
}

.header__navbar > ul {
    display: flex;
    align-items: center;
}

.header__navbar > ul > li {
    padding: 0px 22px;
}

.header__navbar > ul > li > a {
    display: block;
    color: var(--white_color);
    font-size: 18px;
    font-weight: 500;
    transition: all .2s;
}

.header__navbar > ul > li > a:hover {
    color: var(--lightblue_color);
    transition: all .2s;
}

.header__navbar .header__contact-btn {
    background-color: var(--lightblue_color);
    color: var(--white_color);
    border-radius: 20px;
    padding: 8px 20px;
}

.header__navbar .header__contact-btn:hover {
    background: #0866b3;
    color: var(--white_color);
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0 30px;
    }

    #header__icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: var(--white_color);
    }

    .header__navbar {
        height: 0px;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100vw;
        color: var(--white_color);
        transition: .2s;
        background-color: var(--black_color);
        overflow: hidden;
    }

    .header__navbar > ul {
        display: block;
        width: fit-content;
        margin: 62.5px auto;
        text-align: center;
        transition: .4s;
    }

    .header__navbar > ul > li > a {
        margin: 20px 0;
        font-weight: 400;
    }

    .active {
        height: 250px;
    }
}

/* SOBRE MI */

.aboutme {
    display: flex;
    justify-content: space-between;
    padding: 300px 140px;
}

.aboutme__right, .aboutme__left {
    max-width: 50vw;
}

.aboutme__left-text > h2 {
    font-size: 50px;
}

.aboutme__left-text > p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 300;
}

.aboutme__left-icons {
    display: flex;
    align-items: center;
    padding: 14px 0;
}

.aboutme__left-icons > a > i {
    font-size: 23px;
    margin-right: 10px;
}

.aboutme__left-text > h2 > span {
    color: var(--lightblue_color);
}

.aboutme__left-icons > a > button {
    border: none;
    background-color: var(--lightblue_color);
    padding: 8px 20px;
    border-radius: 20px;
    color: var(--white_color);
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: .2s;
}

.aboutme__left-icons > a > button:hover {
    background-color: #0866b3;
    transition: .2s;
}

.aboutme__left-icons > a > button > i {
    color: var(--white_color);
    margin-right: 4px;
}

.aboutme__right-text > p {
    font-size: 16px;
    padding: 0 0 10px 0;
    max-width: 67vh;
}

.aboutme__right-text > p > span {
    color: var(--lightblue_color);
}

.aboutme__right-icons > i {
    color: var(--black_color);
    font-size: 28px;
    padding: 2px 15px 0 0;
}

@media only screen and (max-width: 768px) {
    .aboutme {
        display: block;
        padding: 0px 20px;
    }

    .aboutme__left-text > h2 {
        font-size: 40px;
    }

    .aboutme__left-text > p {
        font-size: 16px;
    }

    .aboutme__left-icons {
        padding: 10px 0;
    }
    
    .aboutme__left-icons > a > i {
        font-size: 20px;
        margin-right: 10px;
    }

    .aboutme__left-icons > a > button {
        border: none;
        background-color: var(--lightblue_color);
        padding: 8px 20px;
        border-radius: 20px;
        color: var(--white_color);
        font-weight: 500;
        font-size: 16px;
        margin-right: 10px;
        cursor: pointer;
        transition: .2s;
    }
    
    .aboutme__left-icons > a > button:hover {
        background-color: #0866b3;
        transition: .2s;
    }
    
    .aboutme__left-icons > a > button > i {
        color: var(--white_color);
        margin-right: 4px;
    }
    
    .aboutme__right-text > p {
        font-size: 15px;
        padding: 0 0 10px 0;
    }
    
    .aboutme__right-text > p > span {
        color: var(--lightblue_color);
    }
    
    .aboutme__right-icons > i {
        color: var(--black_color);
        font-size: 28px;
        padding: 2px 15px 0 0;
    }


    .aboutme__left, .aboutme__right {
        display: block;
        max-width: 100vh;
        padding: 30px 0;
        margin: auto;
    }
}

/* PROYECTOS */

/* CONTACTO */

.contact {
    padding: 1000px 0px;
}