* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* COLORS */
    --black_color: #252525;
    --white_color: #fff;
    --lightblue_color: #0b7fdf;
    /* FONT SIZES */
    --title_size: 25px;
    --body_size: 16px;
}

body {
    background-color: var(--white_color);
}

a, li {
    text-decoration: none;
    list-style: none;
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.header__logo {
    width: 115px;
    cursor: pointer;
}

#header__icon {
    display: none;
}

.header__navbar > ul {
    display: flex;
    align-items: center;
}

.header__navbar > ul > li {
    padding: 0px 22px;
}

.header__navbar > ul > li > a {
    display: block;
    color: var(--black_color);
    font-size: 18px;
    font-weight: 500;
    transition: all .2s;
}

.header__navbar > ul > li > a:hover {
    color: var(--lightblue_color);
    transition: all .2s;
}

.header__navbar .header__contact-btn {
    background-color: var(--lightblue_color);
    color: var(--white_color);
    border-radius: 20px;
    padding: 8px 20px;
}

.header__navbar .header__contact-btn:hover {
    background: #220596;
    color: var(--white_color);
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0 30px;
        position: fixed;
    }

    #header__icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: var(--black_color);
    }

    .header__navbar {
        height: 0px;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100vw;
        color: var(--black_color);
        transition: .2s;
        overflow: hidden;
        background-color: #f4f3f3;
    }

    .header__navbar > ul {
        display: block;
        width: fit-content;
        margin: 62.5px auto;
        text-align: center;
        transition: 0.4s;
    }

    .header__navbar > ul > li > a {
        margin: 20px 0px;
        font-weight: 400;
    }

    .active {
        height: 250px;
    }

}

/* SOBRE MI */

/* PROYECTOS */

/* CONTACTO */

.contact {
    padding: 1000px 0px;
}

